<div class="jumbotron jumbotron-fluid">
  <div class="container"  id="kbcera">
    <h1 class="display-4">PelisApp</h1>
    <p class="lead">Esta es una aplicación de películas.</p>
  </div>
</div>


<div class="m-5">
  <button class="btn btn-outline-danger"
          (click)= "cerrarSesion()">
    Cerrar Sesión
  </button>
</div>

<app-loading *ngIf="loading"></app-loading>
<p>Películas en cartelera</p>
<app-tarjetas [items]="carteleraPeliculas"></app-tarjetas>
<h4>Populares</h4>
<app-tarjetas [items]="popularesPeliculas"></app-tarjetas>
<h4>Populares entre los mas pequeños</h4>
<app-tarjetas [items]="infantilesPeliculas"></app-tarjetas>
