<app-loading *ngIf="loadingPelicula"></app-loading>
<div class="container main-container animated fadeIn fast">

    <div class="row">

        <div class="col-md-5">
            <img [src]="pelicula | peliculaImagen" [alt]="pelicula.original_title" class="img-thumbnail img-fluid">
        </div>


        <div class="col-md-7">
            <h3>Sinopsis</h3>
            <hr>
            <p class="text-justify">
                {{ pelicula.overview }}
            </p>

            <p>
                Popularidad: <span class="badge badge-primary">{{ pelicula.popularity | number:".0-0" }}/10</span>
                <br>
                Voto promedio: <span class="badge badge-primary">{{ pelicula.vote_average }}</span>
            </p>
            <!-- <p>Frase célebre: Que bonitos ojos tienes, tan redondos como el sol, se parecen a los ceros que me pone el profesor:) </p>
            <p>Frase célebre: Eres fea, eres diestra pero a fin de cuentas eres mi maestra:D </p> -->
            <p>Frase célebre: Ayer cuando me viste me tiraste una flor, la proxima vez sin maceta porfavor ! </p>
            <p>Frase célebre: <a href="https://www.youtube.com/watch?v=gFZfwWZV074">667 64 52 01</a></p>
            <!-- <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDPwqsBkYKECW8H1ORRR8vkk7R8zCNaDKE&libraries=places"></script> -->
            <div *ngIf="mostrar">
              <agm-map [latitude]="latOd" [longitude]="lngOd" [zoom]="zoom">
                <agm-marker [latitude]="latYelmo" [longitude]="lngYelmo"></agm-marker>
                <agm-marker [latitude]="latOd" [longitude]="lngOd"></agm-marker>
                <agm-marker [latitude]="latCinesa" [longitude]="lngCinesa"></agm-marker>
              </agm-map>
            </div>



            <button [routerLink]="['/'+regresarA, busqueda ]" type="button" class="btn btn-outline-danger">
                Regresar
            </button>
            <button (click)="mostrar = !mostrar" class="btn btn-outline-primary">Mostrar Localizacion/Ocultar Localizacion</button>


        </div>
    </div>
</div>
