<div class="limiter animated fadeInRight">
  <div class="container-login100">
    <div class="wrap-login100 p-t-50 p-b-90">
      <form (ngSubmit)="login(f)"
      #f="ngForm"
      class="login100-form validate-form flex-sb flex-w">
        <span class="login100-form-title p-b-51">Login</span>

        <span *ngIf="f.submitted && f.controls['email'].errors"
              class="text-danger">
          El correo es obligatorio
        </span>

        <div class="wrap-input100 m-b-16">
          <input class="input100"
                 type="text"
                 name="email"
                 required email
                 [(ngModel)]="usuario.email"
                 placeholder="Email">
        </div>

        <span *ngIf="f.submitted && f.controls['password'].errors"
              class="text-danger">
          Contraseña Inválida. Debe contener almenos 6 caracteres.
        </span>

        <div class="wrap-input100 m-b-16" data-validate = "Password">
          <input class="input100"
                 type="password"
                 name="password"
                 required minlength="6"
                 [(ngModel)]="usuario.password"
                 placeholder="Password">
                 <span class="focus-input100"></span>
        </div>

        <div class="flex-sb-m w-full p-t-3 p-b-24">
          <div class="contact100-form-checkbox">
            <input [(ngModel)]="recordarme"
                   class="input-checkbox100" id="ckb1"
                   type="checkbox" name="remember-me" >
            <label class="label-checkbox100" for ="ckb1">
              Recordar mi usuario
            </label>
            <a routerLink="/registro" class="txt1">
              ¿Aún no tienes cuenta? / Registrarme
            </a>
          </div>
        </div>

        <button class="container-login100-form-btn login100-form-btn"
                type="submit"
                name="button">
                Iniciar Sesión
        </button>
        <!-- <button id="Facebook">Iniciar Sesion con Facebook</button>

        <script src="https://www.gstatic.com/firebasejs/7.5.0/firebase-app.js"></script>

        <script src="https://www.gstatic.com/firebasejs/7.5.0/firebase-analytics.js"></script>

        <script>
          // Your web app's Firebase configuration
          var firebaseConfig = {
            apiKey: "AIzaSyDPwqsBkYKECW8H1ORRR8vkk7R8zCNaDKE",
            authDomain: "proyectopeliculas-5dab7.firebaseapp.com",
            databaseURL: "https://proyectopeliculas-5dab7.firebaseio.com",
            projectId: "proyectopeliculas-5dab7",
            storageBucket: "proyectopeliculas-5dab7.appspot.com",
            messagingSenderId: "251110384743",
            appId: "1:251110384743:web:12267667bd3a3e557920c2",
            measurementId: "G-VQ9VNWNTG3"
          };
          // Initialize Firebase
          firebase.initializeApp(firebaseConfig);
          firebase.analytics();
        </script> -->
      </form>
    </div>

  </div>
</div>
